PORT=3000
NODE_ENV=production

WEB_SYSTEM_URL=http://192.168.60.66:8090/BusinessNET-WEB/XHTML/azar/adminventa/horariopersonas.xhtml
WEB_SYSTEM_USER=CP41414141
WEB_SYSTEM_PASSWORD=123456

DB_FILE=./data/transfer-bot.sqlite

WA_SESSION_DIR=./data/wa-session
WA_MEDIA_DIR=./data/media
WA_QR_TIMEOUT_MS=120000
ALLOWED_PHONE_NUMBERS=

CHROME_PATH=/usr/bin/google-chrome-stable
AUTOMATION_HEADLESS=true
WA_BROWSER_PATH=

WORKER_CONcurrency=1
QUEUE_POLL_INTERVAL_MS=2000
JOB_LEASE_MS=300000

ADMIN_USER=admin
ADMIN_PASSWORD=tu_password_aqui

LOG_LEVEL=info
LOG_DIR=./logs

AUTOMATION_TIMEOUT_MS=30000
